<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="key_control" output="screen"/>

    <node pkg="common" type="create_turtle" name="create_turtle" output="screen" />
    <node pkg="common" type="tf_pub_turtle" name="caster1" output="screen" args="turtle1" />
    <node pkg="common" type="tf_pub_turtle" name="caster2" output="screen" args="turtle2" />
    <node pkg="common" type="tf_sub_turtle" name="listener" output="screen" />
</launch>